.s1 {
  width: 90%;
  background-color: black;
  color: white;
  animation: fadein 3s;
}
.ss1 {
  width: 90%;
  background-color: white;
  color: black;
  animation: fadein 3s;
}
.s2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.s2 h2 {
  font-size: 40px;
  text-transform: capitalize;
  margin: 20px;
}
.s4 {
  display: grid;
  grid-template-columns: 380px 380px 380px;
  column-gap: 30px;
  row-gap: 10px;
  margin-left: 80px;
}
.s5 {
  width: 380px;
  height: 300px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  overflow: hidden;
  position: relative;
}
.s5 img {
  width: 380px;
  height: 300px;
  border-radius: 10;
}
.s5 img:hover {
  filter: brightness(0.6);
}
.s6 {
  width: 380px;
  height: 100px;
  position: absolute;
  padding: 10px;
  display: none;
  padding: 10;
}
.s6 h3 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
  color: black;
}
.s5:hover .s6 {
  bottom: 0px;
  width: 380px;
  height: 100px;
  display: block;
  align-content: flex-start;
  padding: 10px;
  color: black;
  padding: 10;
  transition: 0.6s ease-in-out;
  background-color: white;
}
.ss2 {
  font-size: 40px;
  /* background-color: black; */
  padding: 5px 5px;
  /* border: 1px solid white; */
  border-radius: 50%;
  color: black;
}
@media (max-width: 480px) {
  .s4 {
    display: grid;
    grid-template-columns: 120px;
    column-gap: 1px;
    row-gap: 1px;
    margin-left: 10px;
  }
  .ss1 {
    width: 90%;
    background-color: white;
    height: 100vh;
    color: black;
    animation: fadein 3s;
  }
  .s1 {
    width: 90%;
    background-color: black;
    color: white;
    animation: fadein 3s;
    height: 100vh;
  }
  .s2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .s2 h2 {
    font-size: 20px;
    text-transform: capitalize;
    margin: 20px;
    font-family: "Montserrat", sans-serif;
  }
  .s4 {
    display: grid;
    flex-direction: column;
    grid-template-rows: 250px 250px 250px;
    row-gap: 0px;
    margin-left: 40px;
  }
  .s5 {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  .s5 img {
    width: 250px;
    height: 200px;
  }
  .s5 img:hover {
    filter: brightness(0.6);
  }
  .s6 {
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: -100px;
    display: flex;
    flex-direction: column;
    gap: -5px;
    justify-content: center;
    align-items: center;
  }
  .s6 h3 {
    font-size: 10px;
    text-transform: capitalize;
    font-weight: 500;
    color: black;
  }
  .s6 p {
    font-size: 3px;
    color: white;
  }
  .s6 a {
    font-size: 12px;
  }
  .s5:hover .s6 {
    bottom: -5px;
    width: 200px;
    height: 50px;
    justify-content: flex-start;
    transition: 0.6s ease-in-out;
    background: white;
  }
  .ss2 {
    font-size: 20px;
    /* background-color: black; */
    padding: 5px 5px;
    /* border: 1px solid white; */
    border-radius: 50%;
    color: white;
    margin-top: -20px;
  }
}
