.b1{
    width: 90%;
    background-color: black;
    color: white;
    display: flex;
    animation: fadein 3s;
}
.bb1{
    width: 90%;
    background-color: white;
    color: black;
    display: flex;
    animation: fadein 3s;
}
.b2 {
    width: 80%;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}
.b2 img{
    width: 400px;
    height:400px ;
}
.b3{
padding: 20px 20px;
width: 80%;
margin-left: -120px;
margin-top: 100px;
display: flex;
flex-direction: column;

}
.b4{
    padding: 20px 20px;
}
.b4 h2{
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
}
.b4 p{
    font-size: 17px;
    line-height: 1.6;
}
.b5{
    display: flex;
    gap: 20px;
    padding: 15px 10px;
}
.b6{
    width: 200px ;
    height: 200px;
    position: relative;
}
.b6 h3{
    font-size: 25px;
    text-transform: capitalize;
     margin: 10px 0px;
     /* color: black; */
     font-weight: 700;
}
.b6 h3::after{
  content: "";
  height: 3px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: 150px;
  background-color: orangered;
}
.b6 h3:hover:after{
width: 80%;
transition: 0.6s;
}
.b6 p{
    font-size: 17px;
    text-transform: capitalize;
    margin: 8px 0px;
}
.b6 p span{
    color: orangered;
}
@media (max-width:480px) {
    .b1{
        width: 90%;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        animation: fadein 3s;
    }
    .bb1{
        width: 90%;
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        animation: fadein 3s;
    }
   
    .b2 img{
        width: 200px;
        height:200px ;
    }
    .b4{
        padding: 10px 00px;
    }
    .b3{
        padding: 20px 20px;
        width: 80%;
        margin-left: 0px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        
        }
}